---
import '../styles/base.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GoogleAnalytics  from '../components/GoogleAnalytics.astro';
import GDPRPopup from '../components/GDPRPopup.vue';

// Layout için dinamik meta bilgileri alın
const { title, description, slug, image } = Astro.props;

---
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title} | Bugunlerde.com</title>
    <meta name="description" content={description} />
    <meta name="theme-color" content="#141414">
    <GoogleAnalytics />

    <!-- Open Graph Meta Etiketleri -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={slug} />
    <meta property="og:image" content={image} />
    <meta property="og:type" content="article" />

    <!-- Twitter Card Etiketleri -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-icon.png">
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" sizes="192x192" href="/android-chrome-512x512.png">
    <link rel="icon" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" sizes="32x32" href="/favicon-32x32.png">

  <meta name="google-adsense-account" content="ca-pub-7405579499369683">
  <style>
    html {
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  </style>
  </head>
  <body>
   <div id="sayfa">
    <Header />
    <div class="max-w-[1160px] mx-auto">
      <slot />
    </div>
    <Footer />
  </div>
  <GDPRPopup client:load />
  </body>
  </html>
  